<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @endereco_cliente.cpf %>
</p>

<%= link_to 'Edit', edit_endereco_cliente_path(@endereco_cliente) %> |
<%= link_to 'Back', endereco_clientes_path %>
