<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_de_culinarium.nome %>
</p>

<%= link_to 'Edit', edit_tipo_de_culinarium_path(@tipo_de_culinarium) %> |
<%= link_to 'Back', tipo_de_culinaria_path %>
