<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tipo_culinarium.nome %>
</p>

<%= link_to 'Edit', edit_tipo_culinarium_path(@tipo_culinarium) %> |
<%= link_to 'Back', tipo_culinaria_path %>
